<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Marcas <span class="badge badge-secondary" *ngIf="totalMarcas > 0">{{ totalMarcas }}</span></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button routerLink="/marcas/crear-marca" class="btn btn-sm btn-outline-secondary">Crear</button>
        </div>
    </div>
</div>



<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Slug</th>
            <th scope="col">Ver más</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let marca of marcas">
            <td>{{ marca.nombre }}</td>
            <td>{{ marca.slug }}</td>
            <td><span class="badge badge-secondary pointer" routerLink="/marcas/marca/{{ marca._id }}">Ver más</span></td>
            <td><span class="badge badge-secondary pointer" routerLink="/marcas/editar-marca/{{ marca._id }}">Editar</span></td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-info" *ngIf="desde > 0" (click)="cambiarDesde(-8)">&lt;&lt; Anterior</button>
<button type="button" class="btn btn-info" *ngIf="desde + 8 < totalMarcas" (click)="cambiarDesde(+8)">Siguiente &gt;&gt;</button>