<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Productos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button routerLink="/productos/crear-pedido" class="btn btn-sm btn-outline-secondary">Crear Pedido</button>
            <button routerLink="/productos/crear-producto" class="btn btn-sm btn-outline-secondary">Crear</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Buscar</span>
                </div>
                <input #inputProductoPorNombre type="text" class="form-control" placeholder="Buscar por nombre">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Buscar</span>
                </div>
                <input #inputProductoPorModelo type="text" class="form-control" placeholder="Buscar por modelo">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Buscar</span>
                </div>
                <input #inputProductoPorReferencia type="text" class="form-control" placeholder="Buscar por referencia">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">



            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Referencia</th>
                        <th scope="col">Ver</th>
                        <!-- <th scope="col">Editar</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.caracteristicas.modelo }}</td>
                        <td>{{ producto.caracteristicas.referencia }}</td>
                        <!-- <td><span class="badge badge-secondary pointer" routerLink="/productos/producto/{{ producto._id }}">Ver</span></td> -->
                        <td><a class="badge badge-secondary pointer" href="/productos/producto/{{ producto._id }}" target="_blank">Ver</a></td>
                        <!-- <td><span class="badge badge-secondary pointer" routerLink="/productos/editar-producto/{{ producto._id }}">Editar</span></td> -->
                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-info" *ngIf="desde > 0" (click)="cambiarDesde(-8)">&lt;&lt; Anterior</button>
            <button type="button" class="btn btn-info" *ngIf="desde + 8 < totalProductos" (click)="cambiarDesde(+8)">Siguiente &gt;&gt;</button>

        </div>
    </div>
</div>