<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Productos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button routerLink="/productos/crear-pedido" class="btn btn-sm btn-outline-secondary">Crear Pedido</button>
            <button routerLink="/productos/crear-producto" class="btn btn-sm btn-outline-secondary">Crear</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" hidden>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nombre</span>
                </div>
                <input #inputProductoPorNombre type="text" class="form-control" placeholder="Buscar">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Modelo</span>
                </div>
                <input #inputProductoPorModelo type="text" class="form-control" placeholder="Buscar">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Referencia</span>
                </div>
                <input #inputProductoPorReferencia type="text" class="form-control" placeholder="Buscar">
            </div>

        </div>
    </div>

    <div class="row" *ngIf="cargando && totalProductos === 0">
        <p class="text-center">Espera... se están cargando los productos</p>
    </div>

    <div class="row" *ngIf="!cargando && totalProductos > 0">
        <p class="text-center">Ya se cargaron {{ totalProductos }} productos.</p>
    </div>

    <div class="row" [hidden]="cargando">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <select class="custom-select" [(ngModel)]="tipoBusqueda">
                    <option selected value="nombre">Nombre</option>
                    <option value="modelo">Modelo</option>
                    <option value="referencia">Referencia</option>
                </select>
            </div>
            <input #inputBusqueda type="text" class="form-control" placeholder="Buscar">
            <!-- <div class="input-group-append">
                <button class="btn btn-secondary" type="button">Buscar</button>
            </div> -->
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="list-inline">
                <li class="list-inline-item" *ngFor="let opcion of opciones">
                    {{ opcion }} <span class="badge badge-danger pointer" (click)="quitarOpcion(opcion)"> - </span>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-inline">
                <li class="list-inline-item" *ngFor="let opcion of otrasOpciones">
                    {{ opcion }} <span class="badge badge-primary pointer" (click)="agregarOpcion(opcion)"> + </span>
                </li>
            </ul>
        </div>


    </div>


    <!-- <div class="row">
        <div class="col">



            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Referencia</th>
                        <th scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td>{{ producto.etiqueta }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.caracteristicas.modelo }}</td>
                        <td>{{ producto.caracteristicas.referencia }}</td>
                        <td><a class="badge badge-secondary pointer" href="/productos/producto/{{ producto._id }}"
                                target="_blank">Ver</a></td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-info" *ngIf="desde > 0" (click)="cambiarDesde(-8)">&lt;&lt;
                Anterior</button>
            <button type="button" class="btn btn-info" *ngIf="desde + 8 < totalProductos"
                (click)="cambiarDesde(+8)">Siguiente &gt;&gt;</button>

        </div>
    </div> -->

    <div *ngIf="productosFiltrados.length > 0">

        <div class="row">
            <div class="col-1">
                <h5>
                    Imagen
                </h5>
            </div>
            <div class="col-5 pointer" (click)="ordenar('nombre')">
                <h5>
                    Nombre
                </h5>
            </div>
            <div class="col-2 pointer" *ngIf="opciones.includes('Marca')" (click)="ordenar('marca')">
                <h5>
                    Marca
                </h5>
            </div>
            <div class="col-2 pointer" *ngIf="opciones.includes('Referencia')" (click)="ordenar('referencia')">
                <h5>
                    Referencia
                </h5>
            </div>
            <div class="col-2 pointer" *ngIf="opciones.includes('Modelo')" (click)="ordenar('modelo')">
                <h5>
                    Modelo
                </h5>
            </div>
            <div class="col-2 pointer" *ngIf="opciones.includes('Categoría')" (click)="ordenar('categoria')">
                <h5>
                    Categoría
                </h5>
            </div>
            <div class="col-2 pointer" *ngIf="opciones.includes('EAN13')" (click)="ordenar('ean13')">
                <h5>
                    EAN13
                </h5>
            </div>
            <div class="col-2 pointer" *ngIf="opciones.includes('EAN14')" (click)="ordenar('ean14')">
                <h5>
                    EAN14
                </h5>
            </div>
            <!-- <div class="col-1 pointer" (click)="ordenar('categoria_padre')">
                <h5>
                  Cat. Padre
                </h5>
              </div> -->
            <!-- <div class="col-1">
                <h5>
        
                  Detalles
                </h5>
              </div> -->
            <!-- <div class="col-1">
                <h5>
                  Test
                </h5>
              </div> -->
        </div>




        <div class="row item-producto" *ngFor="let producto of productosFiltrados; index as i">
            <div class="col-1"
                *ngIf="producto.pictures && producto.pictures.large && producto.pictures.large.length > 0">
                <img [src]="producto.pictures.large[ producto.pictures.pp - 1 ]" alt="Producto Img">
            </div>
            <div class="col-1"
                *ngIf="!producto.pictures || !producto.pictures.large || producto.pictures.large.length === 0">
            </div>
            <div class="col-5" *ngIf="!producto.editar">
                <p>
                    <a href="/productos/producto/{{ producto._id }}" target="_blank">{{ producto.nombre }}</a>
                    <!-- - <span class="badge badge-primary pointer"
                    (click)="producto.editar = !producto.editar">Editar</span> -->
                </p>
            </div>
            <div class="col-5" *ngIf="producto.editar">
                <div class="input-group">
                    <textarea type="text" class="form-control" [(ngModel)]="producto.nombre"></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"
                            (click)="cambiarNombre(producto.nombre.trim(), producto._id, i)">Guardar</button>
                        <button class="btn btn-outline-danger" type="button"
                            (click)="producto.editar = !producto.editar">Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="col-2" *ngIf="opciones.includes('Marca')">
                <p>
                    {{ producto.marca.nombre }}
                </p>
            </div>
            <div class="col-2" *ngIf="opciones.includes('Referencia')">
                <p>
                    {{ producto.caracteristicas.referencia }}
                </p>
            </div>
            <div class="col-2" *ngIf="opciones.includes('Modelo')">
                <p>
                    {{ producto.caracteristicas.modelo }}
                </p>
            </div>
            <div class="col-2" *ngIf="opciones.includes('Categoría')">
                <p>
                    {{ producto.categoria.nombre }}
                </p>
            </div>

            <div class="col-2" *ngIf="opciones.includes('EAN13')">
                <p>
                    {{ producto.caracteristicas.ean13 }}
                </p>
            </div>

            <div class="col-2" *ngIf="opciones.includes('EAN14')">
                <p>
                    {{ producto.caracteristicas.ean14 }}
                </p>
            </div>



            <!-- <div class="col-1">
                <p>
                  {{ producto.categoria_padre ? producto.categoria_padre.nombre: '' }}
                </p>
              </div> -->
            <!-- <div class="col-1">
                <p>
                  <a class="badge badge-secondary pointer" href="/productos/producto/{{ producto._id }}" target="_blank">ver</a>
                </p>
              </div> -->
            <!-- <div class="col-1">
                <p>
                  <button class="btn btn-block btn-primary" (click)="test(producto)">Test</button>
                </p>
              </div> -->
        </div>

    </div>
</div>