<div class="container-fluid">
  <div class="row">
    <h1>PRODUCTOS POR MARCA Y CATEGORÍA *</h1>
  </div>

  <div class="row" *ngIf="marcas.length > 0 && categorias.length > 0">
    <div class="col">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">Tipo</label>
        </div>
        <select class="custom-select" [(ngModel)]="etiqueta">
          <option value="Producto">Producto</option>
          <option value="Repuesto">Repuesto</option>
          <option value="Combo">Combo</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">Marca</label>
        </div>
        <select class="custom-select" [(ngModel)]="marcaElegidaId" (change)="elegirMarca($event.target.value)">
          <option *ngFor="let marca of marcas" [value]="marca._id">{{ marca.nombre }}</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">Categoría - 1</label>
        </div>
        <select class="custom-select" [(ngModel)]="categoriaElegidaId" (change)="elegirCategoria($event.target.value)">
          <option *ngFor="let categoria of categorias" [value]="categoria._id">{{ categoria.nombre }}</option>
        </select>
      </div>

      <div class="input-group mb-3" *ngIf="subcategorias.length > 0">
        <div class="input-group-prepend">
          <label class="input-group-text">Categoría - 2</label>
        </div>
        <select class="custom-select" [(ngModel)]="subcategoriaElegidaId" (change)="elegirSubcategoria($event.target.value)">
          <option *ngFor="let categoria of subcategorias" [value]="categoria._id">{{ categoria.nombre }}</option>
        </select>
      </div>

      <div class="input-group mb-3" *ngIf="subcategorias2.length > 0">
        <div class="input-group-prepend">
          <label class="input-group-text">Categoría - 3</label>
        </div>
        <select class="custom-select" [(ngModel)]="subcategoria2ElegidaId" (change)="elegirSubcategoria2($event.target.value)">
          <option *ngFor="let categoria of subcategorias2" [value]="categoria._id">{{ categoria.nombre }}</option>
        </select>
      </div>

      <!-- <button type="button" class="btn btn-primary btn-lg btn-block mb-3" (click)="buscar()">Buscar</button> -->




    </div>
  </div>


  <div class="row">
      <div class="col">
          <ul class="list-inline">
              <li class="list-inline-item" *ngFor="let opcion of opciones">
                  {{ opcion }} <span class="badge badge-danger pointer" (click)="quitarOpcion(opcion)"> - </span>
              </li>
          </ul>
      </div>
      <div class="col">
          <ul class="list-inline">
              <li class="list-inline-item" *ngFor="let opcion of otrasOpciones">
                  {{ opcion }} <span class="badge badge-primary pointer" (click)="agregarOpcion(opcion)"> + </span>
              </li>
          </ul>
      </div>


  </div>

  <div class="row" [hidden]="!productos || productos.length === 0">
    <div class="col">
      <div class="input-group mb-3">
        <input #nombreProducto type="text" class="form-control" placeholder="Nombre del Producto">
      </div>
    </div>
  </div>

  <!-- <div *ngIf="productosFiltrados.length > 0">

      <div class="row">
        <div class="col-1">
          <h5>
            Imagen
          </h5>
        </div>
        <div class="col-4 pointer" (click)="ordenar('nombre')">
          <h5>
            Nombre
          </h5>
        </div>
        <div class="col-1 pointer" (click)="ordenar('referencia')">
          <h5>
            Referencia
          </h5>
        </div>
        <div class="col-1 pointer" (click)="ordenar('modelo')">
          <h5>
            Modelo
          </h5>
        </div>
        <div class="col-1 pointer" (click)="ordenar('categoria')">
          <h5>
            Categoría
          </h5>
        </div>
        <div class="col-1 pointer" (click)="ordenar('categoria_padre')">
          <h5>
            Cat. Padre
          </h5>
        </div>
        <div class="col-1">
          <h5>
  
            Detalles
          </h5>
        </div>
        <div class="col-1">
          <h5>
            Test
          </h5>
        </div>
      </div>
  
      <div class="row item-producto" *ngFor="let producto of productosFiltrados; index as i">
        <div class="col-1" *ngIf="producto.pictures && producto.pictures.large && producto.pictures.large.length > 0">
          <img [src]="producto.pictures.large[ producto.pictures.pp - 1 ]" alt="Producto Img">
        </div>
        <div class="col-1" *ngIf="!producto.pictures || !producto.pictures.large || producto.pictures.large.length === 0">
        </div>
        <div class="col-4" *ngIf="!producto.editar">
          <p>
            {{ producto.nombre }} - <span class="badge badge-primary pointer"
              (click)="producto.editar = !producto.editar">Editar</span>
          </p>
        </div>
        <div class="col-4" *ngIf="producto.editar">
          <div class="input-group">
            <textarea type="text" class="form-control" [(ngModel)]="producto.nombre"></textarea>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"
                (click)="cambiarNombre(producto.nombre.trim(), producto._id, i)">Guardar</button>
                <button class="btn btn-outline-danger" type="button"
                (click)="producto.editar = !producto.editar">Cancelar</button>
            </div>
          </div>
        </div>
        <div class="col-1">
          <p>
            {{ producto.caracteristicas.referencia }}
          </p>
        </div>
        <div class="col-1">
          <p>
            {{ producto.caracteristicas.modelo }}
          </p>
        </div>
        <div class="col-1">
          <p>
            {{ producto.categoria.nombre }}
          </p>
        </div>
        <div class="col-1">
          <p>
            {{ producto.categoria_padre ? producto.categoria_padre.nombre: '' }}
          </p>
        </div>
        <div class="col-1">
          <p>
            <a class="badge badge-secondary pointer" href="/productos/producto/{{ producto._id }}" target="_blank">Ver</a>
          </p>
        </div>
        <div class="col-1">
          <p>
            <button class="btn btn-block btn-primary" (click)="test(producto)">Test</button>
          </p>
        </div>
      </div>
  
    </div> -->







    <div *ngIf="productosFiltrados.length > 0">

        <div class="row">
            <div class="col-1">
                <h5>
                    Imagen
                </h5>
            </div>
            <div class="col-5 pointer" (click)="ordenar('nombre')">
                <h5>
                    Nombre
                </h5>
            </div>
            <div class="col-2 pointer" *ngIf="opciones.includes('Marca')" (click)="ordenar('marca')">
                <h5>
                    Marca
                </h5>
            </div>
            <div class="col-2 pointer" *ngIf="opciones.includes('Referencia')" (click)="ordenar('referencia')">
                <h5>
                    Referencia
                </h5>
            </div>
            <div class="col-2 pointer" *ngIf="opciones.includes('Modelo')" (click)="ordenar('modelo')">
                <h5>
                    Modelo
                </h5>
            </div>
            <div class="col-2 pointer" *ngIf="opciones.includes('Categoría')" (click)="ordenar('categoria')">
                <h5>
                    Categoría
                </h5>
            </div>
            <div class="col-2 pointer" *ngIf="opciones.includes('EAN13')" (click)="ordenar('ean13')">
                <h5>
                    EAN13
                </h5>
            </div>
            <div class="col-2 pointer" *ngIf="opciones.includes('EAN14')" (click)="ordenar('ean14')">
                <h5>
                    EAN14
                </h5>
            </div>
            <!-- <div class="col-1 pointer" (click)="ordenar('categoria_padre')">
                <h5>
                  Cat. Padre
                </h5>
              </div> -->
            <!-- <div class="col-1">
                <h5>
        
                  Detalles
                </h5>
              </div> -->
            <!-- <div class="col-1">
                <h5>
                  Test
                </h5>
              </div> -->
        </div>




        <div class="row item-producto" *ngFor="let producto of productosFiltrados; index as i">
            <div class="col-1"
                *ngIf="producto.pictures && producto.pictures.large && producto.pictures.large.length > 0">
                <img [src]="producto.pictures.large[ producto.pictures.pp - 1 ]" alt="Producto Img">
            </div>
            <div class="col-1"
                *ngIf="!producto.pictures || !producto.pictures.large || producto.pictures.large.length === 0">
            </div>
            <div class="col-5" *ngIf="!producto.editar">
                <p>
                    <a href="/productos/producto/{{ producto._id }}" target="_blank">{{ producto.nombre }}</a>
                    <!-- - <span class="badge badge-primary pointer"
                    (click)="producto.editar = !producto.editar">Editar</span> -->
                </p>
            </div>
            <div class="col-5" *ngIf="producto.editar">
                <div class="input-group">
                    <textarea type="text" class="form-control" [(ngModel)]="producto.nombre"></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"
                            (click)="cambiarNombre(producto.nombre.trim(), producto._id, i)">Guardar</button>
                        <button class="btn btn-outline-danger" type="button"
                            (click)="producto.editar = !producto.editar">Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="col-2" *ngIf="opciones.includes('Marca')">
                <p>
                    {{ producto.marca.nombre }}
                </p>
            </div>
            <div class="col-2" *ngIf="opciones.includes('Referencia')">
                <p>
                    {{ producto.caracteristicas.referencia }}
                </p>
            </div>
            <div class="col-2" *ngIf="opciones.includes('Modelo')">
                <p>
                    {{ producto.caracteristicas.modelo }}
                </p>
            </div>
            <div class="col-2" *ngIf="opciones.includes('Categoría')">
                <p>
                    {{ producto.categoria.nombre }}
                </p>
            </div>

            <div class="col-2" *ngIf="opciones.includes('EAN13')">
                <p>
                    {{ producto.caracteristicas.ean13 }}
                </p>
            </div>

            <div class="col-2" *ngIf="opciones.includes('EAN14')">
                <p>
                    {{ producto.caracteristicas.ean14 }}
                </p>
            </div>



            <!-- <div class="col-1">
                <p>
                  {{ producto.categoria_padre ? producto.categoria_padre.nombre: '' }}
                </p>
              </div> -->
            <!-- <div class="col-1">
                <p>
                  <a class="badge badge-secondary pointer" href="/productos/producto/{{ producto._id }}" target="_blank">ver</a>
                </p>
              </div> -->
            <!-- <div class="col-1">
                <p>
                  <button class="btn btn-block btn-primary" (click)="test(producto)">Test</button>
                </p>
              </div> -->
        </div>

    </div>







  </div>